
$white: #fff;

$black: #000;

$transparent: transparent;


$light-gray: #C4C4C4;
$gray-700: #191919;
$gray-600: #525252;
$gray500: #697488;

$black500: #6F6F6F;
$black300: #A8A8A8;
$black100: #E0E0E0;
$black50: #F4F4F4;

$light-blue-gray:#F3F0FE;

$bg-light-gray: #FAFAFA;
$lighter-blue: #1EA4CE;
$darker-blue: #147594;
