@import '../../scss/settings/imports';
.cart-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .shopping-icon {
    width: 24px;
    height: 24px;
    margin-right: $spacing * 3;
  }

  .item-count {
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    bottom: 12px;
  }
  .total-header {
    color: #fff;
    & span {
      font-weight: bold;
    }
  }
}
